body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #3b495c;
  color: #dae8ff;
}

.navbar {
  padding: 0 24px;
  display: block;
  justify-content: space-between;
  align-items: right;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: end;
  gap: 60px;
}

.nav-item {
  text-decoration: none;
  display: inline-block;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: #c4dbff;
}

.nav-branding {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 100px;
  padding: 0%;
  color: #c3d2ea;
  text-decoration: none;
  text-align: center;
}

.nav-link {
  font-size: large;
  color: #c3d2ea;
  text-decoration: none;
  transition: 0.7s ease;
  text-align: center;
}

.navbar a:hover {
  color: #cad2c5;
}

.socialsbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 300px;
  border: 3px solid #5a6373;
  border-radius: 25px;
  background-color: #5a6373;
  align-items: center;
  text-align: center;
  left: 20px;
  top: 25vh;
}

.socialsbar ul {
  padding: 0;
  list-style-type: none;
}

.socialsbar li {
  display: block;
  padding-left: 0;
  margin-top: 70px;
}

.socialsbar i {
  color: #728296;
}
.socialsbar a:hover i {
  color: #3b495c;
}

.userprofile {
  height: 100px;
  border-radius: 30px;
  border-color: #6b7c8b;
  border-style: solid;
  margin-top: 25px;
  margin-right: 10px;
}

.hey-text-div {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 600px;
  display: flex;
  justify-content: center;
  /* padding-right: 70px; */
}

.aboutme-div {
  text-align: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#contact-link {
  text-decoration: none;
  color: #8abbff;
}

#heytext-p {
  font-size: 30px;
}

#hey-text {
  font-size: 40px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #516073;
}

::-webkit-scrollbar-thumb {
  background-color: #707986;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #707986;
}

@media (max-width: 1390px) {
  .hamburger {
    display: block;
    float: right;
    transform: translate(0, -36px);
  }

  .nav-menu {
    position: fixed;
    left: 100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #3b495c;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    gap: 400px;
    margin-right: 100px;
  }

  .nav-menu.active {
    left: 0
  }

  .nav-branding {
    display: flex;
    justify-content: center;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .socialsbar {
    display: none;
  }
}
