body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #131b20;
  color: #f7f4f3;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar a:hover,
.navbar .nav-menu a:hover {
  color: #cad2c5;
  transition: 0.6s;
}

.navbar .nav-branding {
  font-size: xx-large;
  font-weight: bold;
  color: #6e93aa;
  text-decoration: none;
  text-align: center;
  margin-left: 2rem;
}

.navbar .nav-menu {
  padding: 0;
  margin: 0;
}

.navbar .nav-menu .nav-item {
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
  text-align: right;
  align-items: end;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: #c4dbff;
}


.navbar .nav-menu .nav-link {
  font-size: large;
  color: #607f90;
  text-decoration: none;
  transition: 0.7s ease;
  text-align: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.userprofile {
  height: 100px;
  border-radius: 30px;
  border-color: #6b7c8b;
  border-style: solid;
  margin-top: 25px;
  margin-right: 10px;
}

.hey-text-div {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 300px;
  padding: 0px 86px;
  display: flex;
  justify-content: center;
}

.aboutme-div .the-text {
  font-size: x-large;
  margin-bottom: 40rem;
  text-align: left;
  margin-top: 0;
  padding-left: 10rem;
  margin-top: 3rem;
}

.aboutme-div {
  text-align: center;
  margin-top: 600px;
}

.aboutme {
  text-align: left;
  margin-left: 15rem;
}

.logo {
  border-radius: 30rem;
  width: 15rem;
  border-color: #ffffff;
  border-width: 3px;
  border-style: solid;
  float: right;
  margin-left: 10rem;
  margin-right: 15rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.expriences {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 45rem;
}

.expriences .expriences-bar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
  text-align: center;
}

.expriences .expriences-bar li {
  display: flex;
  margin: 0;
  padding: 10px;
  gap: 20px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.expriences .expriences-bar li a {
  text-decoration: none;
  color: #6e93aa;
  font-size: 1.5rem;
  text-align: center;
}

.expriences .expriences-bar li a img {
  width: 2.5em;
}

.expriences .expriences-bar li a:hover {
  color: #b5c4ce;
  transition: 1s;
}

.expriences p {
  font-size: 1.5rem;
}

.projects-hero-text {
  text-align: center;
}

.projects {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 45rem;
}

.projects .project-1,
.projects .project-2,
.projects .project-3 {
  background-image: initial;
  border: 4px solid #6d777e;
  padding: 40px;
  border-radius: 16px;
  margin-top: 25px;
  width: auto;
}

.projects .project-1 h2,
.projects .project-2 h2,
.projects .project-3 h2 {
  font-size: 2rem;
}

.projects .project-1 p,
.projects .project-2 p,
.projects .project-3 p {
  font-size: 1.3rem;
}

.projects .project-1 button,
.projects .project-2 button,
.projects .project-3 button {
  font-size: 20px;
  width: max-content;
  display: inline-block;
  color: #f7f4f3;
  padding: 12px 19.2px;
  border-radius: 0.4rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid #6d777e;
  transition: all 0.4s ease;
}

.projects .project-1 a,
.projects .project-2 a,
.projects .project-3 a {
  text-decoration: none;
  color: white;
}

.projects .project-1 button:hover,
.projects .project-2 button:hover,
.projects .project-3 button:hover {
  background-color: #b9bcd5;
  color: #131b20;
}

.contact-div {
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

#contact h1 {
  text-align: center;
}

.contact-div .email,
.contact-div .discord,
.contact-div .twitter {
  border-radius: 16px;
  border: 3px solid transparent;
  background-color: #1d262c;
  padding: 40px;
  margin-top: 25px;
  width: 15rem;
  white-space: nowrap;
}

.contact-div a {
  text-decoration: none;
  color: #f7f4f3;
}

.contact-div .email:hover,
.contact-div .discord:hover,
.contact-div .twitter:hover {
  background: transparent;
  border-color: #6d777e;
  transition: all 0.4s ease;
}

/* .contact-div h4 {
  font-size: 0.85rem;
  text-align: center;
} */

.contact-form {
  padding: 50px;
  border-radius: 16px;
  background: #1d262c;
  width: 50%;
  height: 50%;
  margin: auto;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contact-form h2 {
  text-align: center;
}



.contact-form label {
  min-width: 100%;
  padding: 15px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.1);
  color: #b5c4ce;
  font-size: 0.95rem;
  border: none;
}

.contact-form textarea {
  resize: none;
  min-height: 130px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  caret-color: auto;
  width: 100%;
  color: #b5c4ce;
  font-size: medium;
}

.contact-form input {
  border: none; 
  outline: none;
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  caret-color: auto;
  width: 100%;
  color: #b5c4ce;
  font-size: medium;
}

.contact-form button {
  font-size: 20px;
  width: max-content;
  display: inline-block;
  color: #f7f4f3;
  padding: 12px 19.2px;
  border-radius: 0.4rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid #6d777e;
  transition: all 0.4s ease;
}

.contact-form button:hover {
  background-color: #f3f3f3;
  color: #131b20;
}


footer {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

footer a{
  text-decoration: none;
  color: #516073;
}

footer a:hover {
  color: #aeb3b9;
  transition: all 0.4s;
}

#contact-link {
  text-decoration: none;
  color: #8abbff;
}

#heytext-p {
  font-size: 30px;
}

#hey-text {
  font-size: 40px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1d262c;
}

::-webkit-scrollbar-thumb {
  background-color: #3d4f5c;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5a6770;
  transition: all 0.5s;
}

@media (max-width: 1130px) {
  .navbar .nav-menu {
    display: none;
    right: 0;
    top: 43px;
    flex-direction:row;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .navbar {
    flex-wrap: wrap;
  }

  .navbar .nav-socials {
    display: none;
  }

  .navbar .nav-menu.active {
    display: flex;
  }

  .navbar .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .logo {
    width: 10rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .aboutme-div .aboutme {
    margin-left: 4rem;
  }

  .aboutme-div .the-text {
    padding-left: 4rem;
  }

  .contact-div .email,
  .contact-div .discord,
  .contact-div .twitter {
    border-radius: 16px;
    border: 3px solid transparent;
    background-color: #1d262c;
    padding: 40px;
    margin-top: 25px;
    width: 14rem;
  }
}

@media (max-width: 700px) {
  .logo {
    display: none;
  }
  .aboutme-div .the-text {
    margin-left: 2rem;
    padding: 0;
    margin-right: 1rem;
  }
  .aboutme {
    text-align: center;
    margin-left: 0rem !important;
    margin-right: 1rem;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #707986;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #516073;
    border-radius: 12.5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #707986;
  }
}
