body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #131b20;
  color: #f7f4f3;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar a:hover,
.navbar .nav-menu a:hover {
  color: #cad2c5;
  transition: 0.6s;
}

.navbar .nav-branding {
  font-size: xx-large;
  font-weight: bold;
  color: #6e93aa;
  text-decoration: none;
  text-align: center;
  margin-left: 2rem;
}

.navbar .nav-menu {
  padding: 0;
  margin: 0;
}

.navbar .nav-menu .nav-item {
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: #c4dbff;
}

.navbar .nav-menu .nav-socials {
  display: none;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: #c4dbff;
}

.navbar .nav-menu .nav-link {
  font-size: large;
  color: #607f90;
  text-decoration: none;
  transition: 0.7s ease;
  text-align: center;
}

.userprofile {
  height: 100px;
  border-radius: 30px;
  border-color: #6b7c8b;
  border-style: solid;
  margin-top: 25px;
  margin-right: 10px;
}

.hey-text-div {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 600px;
  padding: 0px 86px;
  display: flex;
  justify-content: center;
}

.aboutme-div .the-text {
  font-size: x-large;
  margin-bottom: 100rem;
  text-align: left;
  margin-top: 0;
  padding-left: 10rem;
  margin-top: 5rem;
}

.aboutme-div {
  text-align: center;
}


.aboutme-div .logo {
  border-radius: 30rem;
  width: 15rem;
  border-color: #ffffff;
  border-width: 3px;
  border-style: solid;
  float: right;
  margin-left: 10rem;
  margin-right: 15rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#contact-link {
  text-decoration: none;
  color: #8abbff;
}

#heytext-p {
  font-size: 30px;
}

#hey-text {
  font-size: 40px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #516073;
}

::-webkit-scrollbar-thumb {
  background-color: #707986;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #707986;
}

@media (max-width: 1130px) {
  .navbar .nav-menu {
    display: none;
    right: 0;
    top: 43px;
    flex-direction: column;
  }

  .navbar .nav-socials {
    display: none;
  }

  .navbar .nav-menu.active {
    display: flex;
  }

  .navbar .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
